/*
  Page specific
*/

.configuration-terminal {
  border: 2px solid white;
  background-color: #555753;
  border-radius: 10px;
}

.configuration-terminal-text {
  margin: 3rem;
  color: var(--text);
  font-weight: 400;
  font-size: medium;
  line-height: 160%;
  word-wrap: break-word;
  word-break: break-word;
  overflow: auto;
  height: 100vh;
}

.configuration-default-preset {
  padding-top: 2rem;
}

.configuration-default-preset-header {
  padding-bottom: 1.5rem;
}

.configuration-default-preset-group {
  display: flex;
  flex-direction: row;
  padding: 0.25rem 0;
  justify-content: space-between;
}

.configuration-default-preset-label {
  font-size: large;
  color: var(--text);
  align-self: center;
}

.configuration-default-preset-input {
  width: 45%;
  height: 2.5rem;
}

.successful-deployment-header {
  color: var(--primary);
  padding-bottom: 2.5rem;
}

.successful-deployment-info {
  max-width: 25rem;
  display: flex;
  flex-direction: row;
  padding: 0.25rem 0;
  justify-content: space-between;
  color: var(--text);
  font-size: large;
  align-self: center;
}

input[type="file"] {
  display: none;
}