@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');

* {
  box-sizing: border-box;
}

body {
    background-color: #085F63;
    font-family: 'Muli', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0;
}

.deployment-required {
  width: 95%;
}

.pre-deployment {
  color: #fff;
  font-size: xx-large;
  margin: 100px 0;
}

.auctions-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

h1 {
    margin: 50px 0 30px;
    text-align: center;
    color: #fff;
}

.auction {
  display: flex;
  border: 2px solid white;
  border-radius: 25px;
  height: 10rem;
  width: 85%;
  overflow: hidden;
  margin: 15px auto;
}

.auction div {
  align-content: center;
  margin-top: auto;
  margin-bottom: auto;
}

.auction-token {
  background-color: #49BEB7;
  max-width: 15%;
  height: 100%;
  width: 100%;
}

.separator {
  width: 100%;
  height: 2px;
  background-color: white;
  margin: 10px auto;
}

.separator-vertical {
  width: 4px;
  height: 100%;
  background-color: white;
}

.auction-description {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: space-between;
  margin: auto 10px;
  min-width: 15%;
  width: 100%
}

.view-btn-neo {
  cursor: pointer;
  margin: auto;
  margin-top: 5px;
  height: 2rem;
  width: 80%;
  background-color: #05848A;
  border-radius: 50px;
  color: #fff;
  border: 1px solid #fff;
  padding: 5px;
  font-size: medium;
}

.auction-bid {
  margin: auto 10px;
  min-width: 15%;
  width: 100%
}

.auction-status {
  margin: auto 10px;
  min-width: 15%;
}

.auction-preset {
  margin: auto 0;
  width: 100%;
  min-width: 15%;
}

h4 {
  color: white;
  font-size: large;
  text-decoration: underline;
  text-align: center;
  margin: 2px;
}

.auction-field {
  text-align: center;
  color: white;
  font-size: large;
  margin: auto;
  padding: 5px;
}

.timer {
  padding-top: 10px;
  color: white;
  font-size: larger;
  font-style: italic;
  text-align: center;
}

.presets-header {
  margin: 10px auto;
  padding-bottom: 10px;
  color: #fff;
  font-size: large;
  font-style: italic;
  text-align: center;
}

.presets-container {
  padding-top: 5px;
  margin: auto 10px;
}

.auction-container {
    display: flex;
    flex-direction: column;
    align-items: space-between;
    justify-content: center;
    margin: 20px auto;
    width: 100%;
}

.new-auction-btn {
    cursor: pointer;
    margin: 0 auto 10px;
    width:  300px;
    height: 3rem;
    background-color: #49BEB7;
    border-radius: 50px;
    color: #fff;
    border: none;
    padding: 10px;
    font-size: medium;
}

.lds-ellipsis {
    display: block;
    position: relative;
    margin: 10px auto;
    width: 80px;
    height: 80px;
  }
  
.lds-ellipsis div {
    position: absolute;
    top: 33px;
    width: 13px;
    height: 13px;
    border-radius: 50%;
    background: #fff;
    animation-timing-function: cubic-bezier(0, 1, 1, 0);
}
  
.lds-ellipsis div:nth-child(1) {
    left: 8px;
    animation: lds-ellipsis1 0.6s infinite;
}
  
.lds-ellipsis div:nth-child(2) {
    left: 8px;
    animation: lds-ellipsis2 0.6s infinite;
}
  
.lds-ellipsis div:nth-child(3) {
    left: 32px;
    animation: lds-ellipsis2 0.6s infinite;
}
  
.lds-ellipsis div:nth-child(4) {
    left: 56px;
    animation: lds-ellipsis3 0.6s infinite;
}
  
@keyframes lds-ellipsis1 {
    0% {
      transform: scale(0);
    }
    100% {
      transform: scale(1);
    }
}

@keyframes lds-ellipsis3 {
    0% {
      transform: scale(1);
    }
    100% {
      transform: scale(0);
    }
}
  
@keyframes lds-ellipsis2 {
    0% {
      transform: translate(0, 0);
    }
    100% {
      transform: translate(24px, 0);
    }
}