<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="styles/auctionlist.css" />
        <link rel="stylesheet" href="styles/navbar.css" />
        <link rel="stylesheet" href="styles/metamask.css" />
        <script
        src="https://cdnjs.cloudflare.com/ajax/libs/web3/1.6.1/web3.min.js"
        integrity="sha512-5erpERW8MxcHDF7Xea9eBQPiRtxbse70pFcaHJuOhdEBQeAxGQjUwgJbuBDWve+xP/u5IoJbKjyJk50qCnMD7A=="
        crossorigin="anonymous"
        referrerpolicy="no-referrer"
      ></script>
    </head>
    <body>
        <div class="metamask-bar">
            <div class="metamask-toggles">
                <div class="metamask-activate metamask-text">
                    <label style="margin-right: 5px;">Account: </label>
                    <div id="metamask-account">Not connected</div>
                </div>
                <!-- <div class="metamask-text">
                    <label>Diamond: </label>
                    <div class="diamond-address"></div>
                </div> -->
            </div>
            <div class="metamask-toggles"> 
                <div class="metamask-activate">
                    <div>
                        <label class="switch">
                            <input type="checkbox" id="metamask-enable">
                            <span class="slider round"></span>
                        </label>
                    </div>
                    <div>
                        <img class="metamask-logo" src="./images/metamask-fox.svg" />
                    </div>
                </div>
                <!-- <div class="metamask-activate">
                    <div>
                        <label class="switch">
                            <input type="checkbox">;
                            <span class="slider round"></span>
                        </label>
                    </div>
                    <div class="environment">
                        Test Mode
                    </div>
                </div> -->
            </div>
        </div>
        <div class="nav-bar">
            <div>
                <img class="gbm-logo" src="./images/gbm-logo.svg" />
            </div>
            <div class="nav-links">
                <a class="deployment-required" hidden href="/auctions">Browse Auctions</a>
                <a class="deployment-required" hidden href="/admin">Admin Panel</a>
                <a href="/deployment">GBM Deployment</a>
            </div>
        </div>
        <div class="deployment-required" hidden>
            <div class="auctions-page">
                <h1>GBM Auctions List</h1>
                <button class="new-auction-btn" onclick="createNewAuctionTest()">
                    Start new auction
                </button>
                <div class="lds-ellipsis"><div></div><div></div><div></div><div></div></div>
                <div class="auction-container">
                </div>
            </div>
        </div>
        <div class="pre-deployment">
            Please go through the deployment step first!
        </div>
        <script type="text/javascript" src="scripts/metamask.js"></script>
        <script type="text/javascript" src="scripts/navbar.js"></script>
        <script type="text/javascript" src="scripts/auctions.js"></script>
        <script>
            window.onload = async function() {
                await loadContracts();
                const auctionNo = await getNumberOfAuctions();
                const auctions = await loadAuctions(auctionNo);
                const loader = document.getElementsByClassName('lds-ellipsis');
                loader[0].style.visibility = 'collapse';
                for (i = 0; i < auctions.length; i++) {
                    generateAuctionElement(auctions[i], i);
                }
                subscribeToNewAuctions(retrieveNewAuction);
            };

            async function createNewAuctionTest() {
                await startNewAuction(Math.floor(Math.random() * 999), "0xf39Fd6e51aad88F6F4ce6aB8827279cffFb92266", 0, 'test', 0, "0xf39Fd6e51aad88F6F4ce6aB8827279cffFb92266");
            }

            async function retrieveNewAuction(newAuction) {
                const presets = await getPresets(newAuction.gbmPresetIndex);
                const adjustedNewAuction = {
                    startTimestamp: newAuction.startTimestamp,
                    endTimestamp: newAuction.endTimeStamp,
                    tokenID: newAuction.tokenID,
                    tokenAmount: newAuction.tokenAmount,
                    highestBidValue: 0,
                    saleKind: newAuction.saleKind ?? 'GBM',
                    currencyName: newAuction.currencyName ?? 'FakETH',
                    gbmPreset: presets ?? {},
                }
                generateAuctionElement(adjustedNewAuction, newAuction.saleID);
            }

            function redirectToAuction(number) {
                location.href = `${window.location.protocol}//${window.location.host}/auction?saleId=${number}`;
            }

            function generateAuctionElement(auction, index) {
                console.log(auction)
                const auctionsContainer = document.getElementsByClassName('auction-container')
                const auctionEl = document.createElement('div');
                auctionEl.classList.add("auction");
                let timeMessage;

                if (auction.startTimestamp*1000 - Date.now() > 0) {
                    const auctionDate = new Date(parseInt(auction.startTimestamp * 1000)); 
                    timeMessage = `Starts at-${auctionDate.getHours()}:${("0"+auctionDate.getMinutes()).substr(-2)}:${("0"+auctionDate.getSeconds()).substr(-2)}`;
                } else if (auction.endTimestamp*1000 - Date.now() >= 0){
                    const auctionDate = new Date(parseInt(auction.endTimestamp * 1000)); 
                    timeMessage = `Ends at-${auctionDate.getHours()}:${("0"+auctionDate.getMinutes()).substr(-2)}:${("0"+auctionDate.getSeconds()).substr(-2)}`;
                } else {
                    timeMessage = 'Ended';
                }

                const auctionInnerHTML = `
                        <div class="auction-token"></div>
                        <div class="separator-vertical"></div>
                        <div class="auction-description">
                            <div id="item-sold" class="auction-field">Sample Collection #${auction.tokenID}</div>
                            <div id="amount-sold" class="auction-field">x${auction.tokenAmount}</div>
                            <button class="view-btn-neo" onclick="redirectToAuction(${i+1})">View</button>
                        </div>
                        <div class="separator-vertical"></div>
                        <div class="auction-bid">
                            <h4>Highest Bid</h4>
                            <div id="highest-bid" class="auction-field">${auction.highestBidValue} ${auction.currencyName}</div>
                            <h4>Bidder</h4>
                            <div id="bidder" class="auction-field">0xf39fd...b92266</div>
                        </div>
                        <div class="separator-vertical"></div>
                        <div class="auction-status">
                            <h4>${timeMessage.split("-")[0]}</h4>
                            <div class="timer">${timeMessage.split("-")[0] === 'Ended' ? '' : timeMessage.split("-")[1]}</div>
                        </div>                    
                        <div class="separator-vertical"></div>
                        <div class="auction-preset">
                            <div class="presets-header">Settings</div>
                            <div class="separator"></div>
                            <div class="presets-container">
                                <div id="hammer-time" class="auction-field">Hammer Time: ${auction.gbmPreset.hammerTimeDuration}</div>
                                <div id="cancellation-time" class="auction-field">Cancellation Time: ${auction.gbmPreset.cancellationPeriodDuration}</div>
                                <div id="step-min" class="auction-field">Step Min: ${auction.gbmPreset.stepMin}</div>
                            </div>
                        </div>
                `;

                auctionEl.innerHTML = auctionInnerHTML;
                auctionsContainer[0].appendChild(auctionEl);
            }
        </script>
    </body>
</html>