<!DOCTYPE html>
<html>
  <head>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/web3/1.6.1/web3.min.js"
      integrity="sha512-5erpERW8MxcHDF7Xea9eBQPiRtxbse70pFcaHJuOhdEBQeAxGQjUwgJbuBDWve+xP/u5IoJbKjyJk50qCnMD7A=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    ></script>
  </head>
  <body>
    <div class="page-content">
      <div class="page-title">Admin Panel</div>
      <div class="metamask-missing">
        <p class="gbm-header">Please connect your MetaMask wallet.</p>
      </div>
      <div class="metamask-found" hidden>
        <div id="main-view" class="left-column">
          <div>
            <div class="left-column-option">
              <div class="gbm-header left-column-option-label">
                Admin address
              </div>
              <div class="left-column-option-fields">
                <input
                  id="admin-address"
                  class="gbm-input-boxed"
                  type="text"
                  value=""
                  disabled
                />
                <button
                  class="gbm-btn transparent cover mt-1 h-3"
                  onclick="adminAddressActions.toggleChangeAdminView()"
                >
                  Update admin address
                </button>
              </div>
            </div>
            <div class="left-column-option mt-2">
              <div class="flex-row opposite-ends">
                <div class="gbm-header left-column-option-label">Logo</div>
                <div class="reset-text" onclick="logoActions.resetToDefault()">
                  Reset to default
                </div>
              </div>
              <div class="left-column-option-fields">
                <p class="left-column-description">
                  Please enter an URL or upload a file for the logo to be
                  displayed in the navbar on all pages.
                </p>
                <div class="gbm-radio">
                  <label>
                    <input
                      id="logo-update-first"
                      type="radio"
                      name="radio2"
                      onclick="logoActions.toggleLogoUploadField()"
                      checked
                    />
                    <div class="first-choice box">
                      <p>URL</p>
                    </div>
                  </label>
                  <label>
                    <input
                      id="logo-update-second"
                      type="radio"
                      name="radio2"
                      onclick="logoActions.toggleLogoUploadField()"
                    />
                    <div class="second-choice box">
                      <p>Upload file</p>
                    </div>
                  </label>
                </div>
                <input
                  id="logo-url"
                  class="gbm-input-boxed mt-1"
                  type="text"
                  onchange="logoActions.updateLogoByLink()"
                />
                <div id="logo-upload" class="mt-1" hidden>
                  <input
                    id="image-upload"
                    type="file"
                    accept=".svg, .jpg, .png, .jpeg, .gif, .bmp, .tif, .tiff|image/*"
                    hidden
                  />
                  <button
                    class="gbm-btn transparent cover h-3"
                    id="image-upload-btn"
                    onclick="logoActions.imageUpload()"
                  >
                    Upload
                  </button>
                </div>
                <div id="logo-upload-success" class="text-medium mt-1" hidden>
                  The logo has been updated! Please refresh the page to see your
                  changes.
                </div>
              </div>
            </div>
            <div class="left-column-option mt-2">
              <div class="flex-row opposite-ends">
                <div class="gbm-header left-column-option-label">Colors</div>
                <div class="reset-text" onclick="colorActions.resetToDefault()">
                  Reset to default
                </div>
              </div>
              <div id="color-container" class="configuration-default-preset">
                <div class="configuration-default-preset-group">
                  <div class="configuration-default-preset-label">
                    Background
                  </div>
                  <div class="flex-row">
                    <input
                      type="text"
                      id="color-background"
                      class="gbm-input-boxed color-picker"
                      value="#085F63"
                    />
                    <div
                      id="color-background-preview"
                      class="color-preview"
                    ></div>
                  </div>
                </div>
                <div class="configuration-default-preset-group">
                  <div class="configuration-default-preset-label">
                    Font and lines
                  </div>
                  <div class="flex-row">
                    <input
                      type="text"
                      id="color-font"
                      class="gbm-input-boxed color-picker"
                      value="#FFFFFF"
                    />
                    <div id="color-font-preview" class="color-preview"></div>
                  </div>
                </div>
                <div class="configuration-default-preset-group">
                  <div class="configuration-default-preset-label">
                    Primary button and selection
                  </div>
                  <div class="flex-row">
                    <input
                      type="text"
                      id="color-primary"
                      class="gbm-input-boxed color-picker"
                      value="#49BEB7"
                    />
                    <div id="color-primary-preview" class="color-preview"></div>
                  </div>
                </div>
                <div class="configuration-default-preset-group">
                  <div class="configuration-default-preset-label">
                    Secondary button and selection
                  </div>
                  <div class="flex-row">
                    <input
                      type="text"
                      id="color-secondary"
                      class="gbm-input-boxed color-picker"
                      value="#FACF5A"
                    />
                    <div
                      id="color-secondary-preview"
                      class="color-preview"
                    ></div>
                  </div>
                </div>
                <div class="configuration-default-preset-group">
                  <div class="configuration-default-preset-label">
                    Text fields and dropdowns
                  </div>
                  <div class="flex-row">
                    <input
                      type="text"
                      id="color-fields"
                      class="gbm-input-boxed color-picker"
                      value="#05848A"
                    />
                    <div id="color-fields-preview" class="color-preview"></div>
                  </div>
                </div>
                <div class="configuration-default-preset-group">
                  <div class="configuration-default-preset-label">
                    Important actions and warnings
                  </div>
                  <div class="flex-row">
                    <input
                      type="text"
                      id="color-important"
                      class="gbm-input-boxed color-picker"
                      value="#FF5959"
                    />
                    <div
                      id="color-important-preview"
                      class="color-preview"
                    ></div>
                  </div>
                </div>
              </div>
            </div>
            <div class="left-column-option mt-2">
              <div class="gbm-header left-column-option-label">Currencies</div>
              <div class="left-column-option-fields">
                <p class="left-column-description">Coming soon</p>
              </div>
            </div>
            <div class="left-column-option mt-2">
              <div class="left-column-slider-group">
                <div class="gbm-header left-column-option-label">
                  English auction
                </div>
                <div class="flex-row items-center">
                  <label class="gbm-switch">
                    <input id="enable-english" type="checkbox" />
                    <span class="gbm-slider round"></span>
                  </label>
                  <p class="left-column-slider-description">
                    Select to enable auction where bidders do not earn reward
                    (Coming soon)
                  </p>
                </div>
                <div class="gbm-header left-column-option-label mt-2">
                  Incentive badge
                </div>
                <div class="flex-row items-center">
                  <label class="gbm-switch">
                    <input id="enable-badge" type="checkbox" />
                    <span class="gbm-slider round"></span>
                  </label>
                  <p class="left-column-slider-description">
                    Display the name of the preset in the GBM badge (Coming
                    soon)
                  </p>
                </div>
              </div>
            </div>
            <div class="left-column-option mt-2">
              <div class="gbm-header left-column-option-label">
                Create or edit preset
              </div>
              <div class="left-column-option-fields pb-2">
                <span id="select-preset" class="gbm-select"></span>
              </div>
              <div
                id="default-preset-container"
                class="configuration-default-preset pb-2"
              >
                <div class="configuration-default-preset-group">
                  <div class="configuration-default-preset-label">
                    Preset name
                  </div>
                  <div>
                    <input
                      type="text"
                      class="gbm-input-boxed"
                      id="preset-name"
                      value=""
                    />
                  </div>
                </div>
                <div class="configuration-default-preset-group">
                  <div class="configuration-default-preset-label">
                    Auction duration (seconds)
                  </div>
                  <div>
                    <input
                      type="text"
                      class="gbm-input-boxed"
                      id="preset-auction-duration"
                      value=""
                    />
                  </div>
                </div>
                <div class="configuration-default-preset-group">
                  <div class="configuration-default-preset-label">
                    Cancellation period (seconds)
                  </div>
                  <div>
                    <input
                      type="text"
                      class="gbm-input-boxed"
                      id="preset-cancellation"
                      value=""
                    />
                  </div>
                </div>
                <div class="configuration-default-preset-group">
                  <div class="configuration-default-preset-label">
                    Hammer time (seconds)
                  </div>
                  <div>
                    <input
                      type="text"
                      class="gbm-input-boxed"
                      id="preset-hammertime"
                      value=""
                    />
                  </div>
                </div>
              </div>
              <div class="left-column-option-fields">
                <span
                  id="select-incentive-preset"
                  class="gbm-select transparent"
                ></span>
              </div>
              <div id="custom-incentive-display" hidden>
                <p class="left-column-description mt-1 text-small">
                  Warning: Do not use a custom incentive profile without
                  consulting with the GBM team first. Because of their
                  complexity, you should always use presets that have been
                  compiled or approved by the GBM team. One wrong value could
                  severely impact price discovery, or lead to an illiquid
                  auction where the seller ends up with no money.
                </p>
                <div class="configuration-default-preset-group">
                  <div class="configuration-default-preset-label">
                    Incentive multiplier
                  </div>
                  <div>
                    <input
                      type="text"
                      class="gbm-input-boxed"
                      id="preset-multiplier"
                      value=""
                    />
                  </div>
                </div>
                <div class="configuration-default-preset-group">
                  <div class="configuration-default-preset-label">
                    Incentive max (1000 = 1%)
                  </div>
                  <div>
                    <input
                      type="text"
                      class="gbm-input-boxed"
                      id="preset-incentive-max"
                      value=""
                    />
                  </div>
                </div>
                <div class="configuration-default-preset-group">
                  <div class="configuration-default-preset-label">
                    Incentive min (1000 = 1%)
                  </div>
                  <div>
                    <input
                      type="text"
                      class="gbm-input-boxed"
                      id="preset-incentive-min"
                      value=""
                    />
                  </div>
                </div>
                <div class="configuration-default-preset-group">
                  <div class="configuration-default-preset-label">
                    Step min (1000 = 1%)
                  </div>
                  <div>
                    <input
                      type="text"
                      class="gbm-input-boxed"
                      id="preset-step"
                      value=""
                    />
                  </div>
                </div>
              </div>
              <p class="left-column-description mt-1 text-small">
                Warning: All upcoming and live auctions which use this preset
                will be impact instantly if you modify it. If you do not want
                current auctions to be impacted, create a new preset.
              </p>
              <button
                id="preset-update-btn"
                class="gbm-btn cover h-3"
                onclick="presetActions.updatePreset()"
              >
                Edit preset
              </button>
            </div>
          </div>
        </div>
        <div id="admin-change" class="left-column" hidden>
          <div>
            <div class="left-column-option">
              <div class="gbm-header left-column-option-label">WARNING!</div>
              <p class="left-column-description">
                You are about to update the admin address of your GBM dApp. Upon
                updating this address, the address you are currently connected
                with will instantly lose admin privileges, and the new admin
                address will be the only one able to perform admin tasks like
                adding presets, adding currencies, creating drops and token
                sales.
              </p>
            </div>
            <div class="left-column-option">
              <div class="gbm-header left-column-option-label">
                Current admin address
              </div>
              <div class="left-column-option-fields">
                <input
                  id="current-admin-address"
                  class="gbm-input-boxed"
                  type="text"
                  disabled
                />
              </div>
            </div>
            <div class="left-column-option">
              <div class="gbm-header left-column-option-label">
                New admin address
              </div>
              <div class="left-column-option-fields">
                <input
                  id="new-admin-address"
                  class="gbm-input-boxed"
                  type="text"
                />
              </div>
            </div>
            <div class="left-column-option">
              <button
                class="gbm-btn red cover mt-1 h-3 text-large"
                onclick="adminAddressActions.setGBMAdmin()"
              >
                Update admin address
              </button>
              <button
                class="gbm-btn transparent cover mt-1 h-3 text-large"
                onclick="adminAddressActions.toggleChangeAdminView()"
              >
                Cancel
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <script type="text/javascript" src="scripts/global.js"></script>
  </body>
</html>
