<!DOCTYPE html>
<html>
    <head>
        <title>GBM dApp</title>
        <link rel="icon" type="image/png" href="./images/favicon.png"/>

        <script
        src="https://cdnjs.cloudflare.com/ajax/libs/web3/1.6.1/web3.min.js"
        integrity="sha512-5erpERW8MxcHDF7Xea9eBQPiRtxbse70pFcaHJuOhdEBQeAxGQjUwgJbuBDWve+xP/u5IoJbKjyJk50qCnMD7A=="
        crossorigin="anonymous"
        referrerpolicy="no-referrer"
      ></script>
    </head>
    <body>
        <div class="page-content">
            <div class="page-title">List for sale</div>
            <div class="metamask-missing">
                <p class="gbm-header">Please connect your MetaMask wallet.</p>
            </div>
            <div class="metamask-found" hidden>
                <div class="nft-page width-limiter">
                    <img class="token-media"></img>
                    <div id="token-title"></div>                    
                    <div class="parameter-container">
                        <div class="parameter-option">
                            <div class="gbm-header parameter-option-label">Select Preset: </div>
                            <div class="parameter-option-fields">
                                <select class="gbm-select">
                                    <option>Test</option>
                                </select>
                            </div>
                        </div>
                        <div class="parameter-option">
                            <div class="gbm-header parameter-option-label">Auction Duration: </div>
                            <div class="parameter-option-fields">
                                <input class="auction-input gbm-input-boxed width-limiter" type="text" disabled/>
                            </div>
                        </div>
                        <div class="parameter-option">
                            <div class="gbm-header parameter-option-label">Cancellation Period Duration: </div>
                            <div class="parameter-option-fields">
                                <input class="auction-input gbm-input-boxed width-limiter" type="text" disabled/>
                            </div>
                        </div>
                        <div class="parameter-option">
                            <div class="gbm-header parameter-option-label">Hammer Time Duration: </div>
                            <div class="parameter-option-fields">
                                <input class="auction-input gbm-input-boxed width-limiter" type="text" disabled/>
                            </div>
                        </div>
                        <div class="parameter-option">
                            <div class="gbm-header parameter-option-label">Incentive Growth Multiplier: </div>
                            <div class="parameter-option-fields">
                                <input class="auction-input gbm-input-boxed width-limiter" type="text" disabled/>
                            </div>
                        </div>
                        <div class="parameter-option">
                            <div class="gbm-header parameter-option-label">Incentive Max: </div>
                            <div class="parameter-option-fields">
                                <input class="auction-input gbm-input-boxed width-limiter" type="text" disabled/>
                            </div>
                        </div>
                        <div class="parameter-option">
                            <div class="gbm-header parameter-option-label">Incentive Min: </div>
                            <div class="parameter-option-fields">
                                <input class="auction-input gbm-input-boxed width-limiter" type="text" disabled/>
                            </div>
                        </div>
                        <div class="parameter-option">
                            <div class="gbm-header parameter-option-label">Step Min: </div>
                            <div class="parameter-option-fields">
                                <input class="auction-input gbm-input-boxed width-limiter" type="text" disabled/>
                            </div>
                        </div>
                    </div>
                    <button class="auction-btn" onclick="createAuctionAndRedirect()">Confirm Auction Creation</button>
                </div>
            </div>
        </div>
        <script type="text/javascript" src="scripts/global.js"></script>
    </body>
</html>