<!DOCTYPE html>
<html>
  <head>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/web3/1.6.1/web3.min.js"
      integrity="sha512-5erpERW8MxcHDF7Xea9eBQPiRtxbse70pFcaHJuOhdEBQeAxGQjUwgJbuBDWve+xP/u5IoJbKjyJk50qCnMD7A=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    ></script>
  </head>
  <body>
    <div class="page-content">
      <div class="page-title">GBM dApp Deployment</div>
      <div class="metamask-missing">
        <p class="gbm-header">Please connect your MetaMask wallet.</p>
      </div>
      <div class="metamask-found" hidden>
        <div class="deployment-found" hidden>
          <div class="gbm-header successful-deployment-header">
            The GBM dApp has been deployed successfully!
          </div>
          <div class="successful-deployment-details">
            <div class="successful-deployment-info">
              <div class="successful-deployment-info-label">Network</div>
              <div id="deployed-network" class="left-column bold">
                Localhost
              </div>
            </div>
            <div class="successful-deployment-info">
              <div class="successful-deployment-info-label">Version</div>
              <div id="deployed-version" class="left-column bold">Test</div>
            </div>
            <div class="successful-deployment-info">
              <div class="successful-deployment-info-label">
                Deployer Address
              </div>
              <div id="deployed-deployer" class="left-column bold"></div>
            </div>
            <div class="successful-deployment-info">
              <div class="successful-deployment-info-label">Admin address</div>
              <div id="deployed-admin" class="left-column bold"></div>
            </div>
            <button
              class="gbm-btn transparent rounded h-4 left-column mt-2 text-large bold"
              onclick="initReset()"
            >
              Clear cache and deploy new contract
            </button>
            <div>
              <button
                class="gbm-btn rounded h-4 left-column mt-2 text-large bold"
                onclick="downloadObjectAsJson()"
              >
                Export dApp configuration
              </button>
            </div>
          </div>
        </div>
        <div class="deployment-missing">
          <div class="flex-row opposite-ends">
            <div class="left-column">
              <div class="left-column-option">
                <div class="gbm-header left-column-option-label">Network</div>
                <div class="left-column-option-fields">
                  <span id="select-network" class="gbm-select"></span>
                  <p class="left-column-description">
                    <br><b>Live Blockchain</b> : <br>Make sure you have properly edited the 
                    hardhat.config.ts  👷 ⚙️ file to set the proper defaultNetwork and the associated account private key with the currently 
                    connected metamask address 🖋️  🦊.
                  </p>
                </div>
              </div>
              <div class="left-column-option">
                <div class="gbm-header left-column-option-label">Version</div>
                <div class="left-column-option-fields">
                  <span id="select-version" class="gbm-select"></span>
                </div>
              </div>
              <div class="left-column-option">
                <div class="gbm-header left-column-option-label">
                  Deployer address
                </div>
                <div class="left-column-option-fields">
                  <p class="left-column-description">
                    We recommend that you use a very safe account (e.g. cold
                    wallet) to deploy the GBM dApp if deploying on a mainnet.
                    This address will be able to upgrade the smart contract. To
                    select another address, switch account on Metamask.
                  </p>
                  <input
                    id="deployer-address"
                    class="gbm-input-boxed"
                    type="text"
                    disabled
                  />
                </div>
              </div>
              <div class="left-column-option">
                <div class="gbm-header left-column-option-label">
                  Admin address
                </div>
                <div class="left-column-option-fields">
                  <p class="left-column-description">
                    This address will be the only one with admin privileges on
                    the application, able to create and start auctions, add
                    presets, currencies etc.
                  </p>
                  <input
                    id="admin-address"
                    class="gbm-input-boxed"
                    type="text"
                  />
                  <label class="gbm-checkbox"
                    >Use same as deployer address
                    <input
                      id="use-deployer"
                      type="checkbox"
                      checked="checked"
                    />
                    <span class="gbm-checkmark"></span>
                  </label>
                </div>
              </div>
              <div class="left-column-option">
                <div class="left-column-slider-group">
                  <div class="flex-row items-center">
                    <label class="gbm-switch">
                      <input id="run-tests" type="checkbox" />
                      <span class="gbm-slider round"></span>
                    </label>
                    <p class="left-column-slider-description">
                      Mint test NFTs and create test auctions
                    </p>
                  </div>
                  <div class="flex-row items-center">
                    <label class="gbm-switch">
                      <input id="enable-customization" type="checkbox" />
                      <span class="gbm-slider round"></span>
                    </label>
                    <p class="left-column-slider-description">
                      Customise dApp colors (advanced)
                    </p>
                  </div>
                </div>
                <div
                  id="default-preset-container"
                  class="configuration-default-preset"
                  hidden
                >
                  <div class="gbm-header configuration-default-preset-header">
                    dApp colors
                  </div>
                  <div class="configuration-default-preset-group">
                    <div class="configuration-default-preset-label">
                      Primary Button
                    </div>
                    <input type="color" id="color-primary" value="#49beb7">
                  </div>
                  <div class="configuration-default-preset-group">
                    <div class="configuration-default-preset-label">
                      Secondary Button
                    </div>
                    <input type="color" id="color-selection" value="#FACF5A">
                  </div>
                  <div class="configuration-default-preset-group">
                    <div class="configuration-default-preset-label">
                      Text fields & dropdowns
                    </div>
                    <input type="color" id="color-secondary" value="#05848a">
                  </div>
                  <div class="configuration-default-preset-group">
                    <div class="configuration-default-preset-label">
                      Important actions
                    </div>
                    <input type="color" id="color-tertiary" value="#ff5959">
                  </div>
                  <div class="configuration-default-preset-group">
                    <div class="configuration-default-preset-label">
                      Background
                    </div>
                    <input type="color" id="color-background" value="#085f63">
                  </div>
                  <div class="configuration-default-preset-group">
                    <div class="configuration-default-preset-label">
                      Font & lines
                    </div>
                    <input type="color" id="color-text" value="#ffffff">
                  </div>
                  <div class="configuration-default-preset-group">
                    <div class="configuration-default-preset-label">
                      Logo
                    </div>
                      <input id="image-upload" type="file" />
                      <button
                        class="gbm-btn transparent"
                        id="image-upload-btn"
                        onclick="imageUpload()"
                      >
                        Upload
                      </button>
                    </label>
                  </div>
                  <div id="display-logo" style="display: none;" class="configuration-default-preset-group">
                    <div class="configuration-default-preset-label">
                      Logo preview
                    </div>
                    <img id="logoPreview"/>
                  </div>
                </div>
              </div>
              <button
                id="deploy-btn"
                class="gbm-btn red cover h-4 text-large"
                onclick="connectToDeployer()"
              >
                Deploy
              </button>
              <label for="file-upload" id="file-upload-btn" onclick="triggerUpload()">
                <input id="file-upload" type="file" />
                <button
                  class="gbm-btn transparent cover h-4 mt-2 text-large"
                  onclick=""
                >
                  Import dApp configuration
                </button>
              </label>
              <button
              class="gbm-btn rounded cover h-4 mt-2 text-large"
              onclick="downloadObjectAsJson()"
            >
              Export dApp configuration
            </button>
            </div>
            <div class="right-column configuration-terminal">
              <p id="terminal" class="configuration-terminal-text">
                Press Deploy to start
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <script type="text/javascript" src="scripts/global.js"></script>
  </body>
</html>
